#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: #40E0D0;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#welcome {
	text-align: right;
	border-bottom: 1px solid #999;
}

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color: #0033CC;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background: #ccc;
	text-align: center;
	padding-top:10px;
	bottom: 0;
    height: 30px;
    float:left;
    position: absolute;
	width:100%;
}

#footer span{
	margin:20px;
}